<ul class="nav justify-content-center redes-sociales">
  <li class="nav-item">
    <a class="nav-link" href="#"><i class="fab fa-facebook"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><i class="fab fa-whatsapp"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
  </li>
</ul>

<header class="headerPrincipal">
  <div class="container animate__animated animate__fadeIn">
    <div class="row">
      <a class="navbar-brand" href="#">plaza 10 supermercado</a>
    </div>
    <nav class="navegacionPrincipal animate__animated animate__fadeIn" [ngClass]="{'navTop animate__fadeInDown' : navFixed}">
      <div class="row">
        <div class="col-2">
          <button class="btnMenu" type="button" data-toggle="collapse" data-target="#contenidoNavBar" aria-controls="contenidoNavBar" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-angle-down"></i> Menu
          </button>
        </div>
        <div class="col-10">
          <ul class="nav-usuario justify-content-start">
            <li class="nav-item">
              <button type="button" class="text-white btnMenu" id="dropdown-carrito" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-shopping-cart"></i>
              </button>
              <div class="dropdown-menu animate__animated animate__fadeIn" aria-labelledby="dropdown-carrito">
                <div class="lista-carrito">
                  <div class="avatar-producto">
                    <img src="assets/img/leche-pil.jpg" alt="" class="img-fluid">
                  </div>
                  <div class="card-title"><h6>Leche Pil</h6></div>
                  <div class="cantidad"><input type="number" min="1"></div>
                  <button class="remover btnMenu" type="button"><i class="fas fa-times"></i></button>
                </div>
                <hr> <!-- descripcion de cada producto del carrito añadido -->
                <div class="lista-carrito">
                  <div class="avatar-producto">
                    <img src="assets/img/leche-pil.jpg" alt="" class="img-fluid">
                  </div>
                  <div class="card-title"><h6>Leche Pil</h6></div>
                  <div class="cantidad"><input type="number" min="1"></div>
                  <button class="remover btnMenu" type="button"><i class="fas fa-times"></i></button>
                </div>
                <hr> <!-- descripcion de cada producto del carrito añadido -->
                <div class="lista-carrito">
                  <div class="avatar-producto">
                    <img src="assets/img/leche-pil.jpg" alt="" class="img-fluid">
                  </div>
                  <div class="card-title"><h6>Leche Pil</h6></div>
                  <div class="cantidad"><input type="number" min="1"></div>
                  <button class="remover btnMenu" type="button"><i class="fas fa-times"></i></button>
                </div>
                <hr> <!-- descripcion de cada producto del carrito añadido -->
              </div>
            </li>
            <li class="nav-item"><button type="button" class="btnMenu text-white"><i class="fas fa-user"></i></button></li>
            <li class="nav-item">
              <form class="inline-block text-white">
                <div class="md-form my-0">
                  <input class="input-search" type="text" placeholder="Buscar...">
                  <button class="btnMenu">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </form> 
            </li>
          </ul>
        </div>
      </div>
    
      <div class="collapse" id="contenidoNavBar">
        <ul class="nav mr-auto ml-md-3 justify-content-around">
          <li class="nav-item">
            <a class="nav-link" href="#">inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">promociones</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

