.redes-sociales {
  background-color: #a00037;
  
}
.redes-sociales .nav-item {
  margin: 0 10px;
}
.redes-sociales .nav-item i {
  font-size: 12px !important;
  color: #fff;
  padding: auto 0;
}

.headerPrincipal {
  position: relative;
  background-color: #d81b60;
  z-index: 1030;
}
.navegacionPrincipal {
  position: relative;
  /* right: 0; */
  left: 0; 
  width: 100%;
  padding: 0 5%;
  background-color: #d81b60;
  /* z-index: 0; */
}
.navTop {
  position: fixed;
  top: 0;
}

.navTop .btnMenu,
.navTop .nav-usuario li .btnMenu {
  font-size: 14px;
}
.navTop .nav-usuario {
  margin: revert;
}
.navTop .nav-usuario li {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 14px;
}

.navbar-brand {
  text-decoration: none;
  color: #fff;
  font-family: 'Bebas Neue', cursive;
  font-size: 42px;
  font-stretch: expanded;
  margin: auto;
  padding: 0;
}
.navbar-brand:hover{
  color: #ffee58;
  transition: all ease .1s;
}

#contenidoNavBar li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 200;
  text-transform: capitalize;
}
#contenidoNavBar ul {
  border-top: 1px solid #cecdcd;
}

.navbar-nav li a {
  color: #fff !important;
}

.btnMenu {
  text-decoration: none;
  text-align: center;
  border-style: none;
  border-radius: 2px;
  background-color: transparent;
  color:#fff;
}
.btnMenu:focus {
  outline: none;
}
.btnMenu i {
  color: #fff;
  font-size: 20px;
}

.nav-usuario {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}
.nav-usuario li {
  font-size: 20px;
  margin: 0 auto;
}
.nav-usuario li:last-child {
  margin-right: 0;
}

.input-search {
  -webkit-appearance: none !important; 
  outline: none;
  border: none;
  border-bottom: 1px solid #fff !important;
  background-color: transparent;
  color: #fff;
}
input:focus {
  outline: none !important;
}
input::placeholder {
  color: #cecdcd;
}

.nav-link {
  padding: 0 5px;
}



@media (min-width: 768px){
  .redes-sociales .nav-item i {
    font-size: 18px;
  }
  .input-search {
    width: 350px;
  }
  #contenidoNavBar li a {
    font-size: 20px;
  }
  .dropdown-menu {
    width: 50%;
  }
}


/*=============================================
=            dropdown-menu            =
=============================================*/

.lista-carrito {
  display: flex;
  flex-wrap: wrap;
  margin: 1px 5%;
}
.lista-carrito .avatar-producto,
.lista-carrito .cantidad {
  width: 20%;
  border-radius: 2px;
}
.lista-carrito .card-title , 
.lista-carrito .card-title h6,
.lista-carrito .cantidad,
.lista-carrito .remover {
  margin: auto !important;
}
.lista-carrito .cantidad input{
  width: 100%;
  outline: none;
  border-style: none;
}
.lista-carrito .remover {
  background-color: #d81b60;
  border-radius: 25%;
}



/*=====  End of dropdown-menu  ======*/

