<app-carousel-promotions></app-carousel-promotions>

<div class="container my-5">
  <div class="row text-center"> 
    <div class="col-6 col-md-3">
      <div class="card">
        <img src="assets/img/leche-pil.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title text-uppercase">leche pil</h3>
          <p class="card-text text-justify">Es un producto elaborado con leche fresca controlada y seleccionada, la cual es higienizada, homogenizada, estandarizada y ultrapasteurizada. <br> Contenido Neto: 948 ml.</p>
          <div class="card-footer">
            <span class="precios">
              <p class="precioOferta btn">5.50 Bs</p>
              <p class="precioNormal btn">6.50 Bs</p>
            </span>
            <button class="btn btn-info"><i class="fas fa-cart-plus"></i> Añadir</button>
          </div>
        </div>
      </div>      
    </div>   
  </div>
</div>
