<footer class="mt-5">
  <div class="container p-3">
    <div class="row">
      <div class="col-md-3">
        <h4 class="titulo-footer">PLAZA 10 SUPERMERCADO</h4>
        <ul class="list-group">
          <li class="list-group-item"><a href="#">FAQ</a></li>
          <li class="list-group-item"><a href="#">Sobre Nosotros</a></li>
          <li class="list-group-item"><a href="#">contactanos</a></li>
          <li class="list-group-item"><a href="#">Porta ac consectetur ac</a></li>
        </ul>
      </div>
      <div class="col-md-5">
        <h4>Nuestra Ubicación</h4>
        <div class="mapa" id="ubicacion" style="width: 100%;"></div>
      </div>
      <div class="col-md-4">
        <h4>Contacto</h4>
        <form class="formulario-contacto">
          <div class="form-group">
            <label>Nombre Completo</label>
            <input type="text" class="input-footer" placeholder="Nombre Completo">
          </div>
          <div class="form-group">
            <label>Número de Contacto</label>
            <input type="text" class="input-footer" placeholder="Numero de contacto">
          </div>
          <div class="form-group">
            <label>Mensaje</label>
            <textarea class="input-footer" placeholder="Mensaje"></textarea>
          </div>
          <button class="btn-correo">Enviar <i class="fas fa-paper-plane"></i></button>
        </form>
      </div>
    </div>
  </div>
  <div class="end">
    <span>Copyright &copy; by <a href="#">Jheyson</a></span>
  </div>
</footer>